- name: Install System Packages 1 (terminal)
  become_user: root
  apt:
    name: 
      - build-essential
      - ccache
      - cmake
      - cifs-utils
      - curl
      - dconf-editor
      - direnv
      - gettext
      - golang
      - htop
      - libevent-dev
      - libpthread-stubs0-dev
      - libtool
      - libtool-bin
      - lsof
      - lua5.1
      - neofetch
      - ninja-build
      - pkg-config
      - python3-pip
      - python3-dev
      - python3-venv
      - rename
      - silversearcher-ag
      - stow
      - tree
      - unzip
      - webp
  tags:
    - install
    - terminal
    - neovim
    - nvim
    - core
    
# - name: check is fd installed
#   shell: command -v fd
#   register: fd_exists
#   ignore_errors: yes

# - name: install fd
#   shell: . ~/.profile && nix-env -iA nixpkgs.fd

- name: Add another bin dir to system-wide $PATH.
  become_user: root
  copy:
    dest: /etc/profile.d/custom-path.sh
    content: 'export "PATH=$PATH:~/.local/bin"'

- name: check is pipx installed
  shell: command -v pipx
  register: pipx_exists
  ignore_errors: yes

- name: pipx
  when: pipx_exists is failed
  pip:
    name: pipx
  tags:
    - pipx

  # pip:
# - name: pipx ensurepath
  # shell: pipx ensurepath
  # tags:
  #   - pipx

# - name: Check if Homebrew is already installed
#   stat:
#     path: /usr/local/bin/brew
#   register: b
#   tags:
#     - install
#     - brew
#     - homebrew

# - name: Install Homebrew
#   shell: |
#     echo "Doing the thing!"
#     export CI=1
#     export NONINTERACTIVE=1
#     /bin/bash -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
#   when: not b.stat.exists
#   tags:
#     - install
#     - brew
#     - homebrew
