---
- name: KVM Bridge Network Setup
  ansible.builtin.shell: echo "Starting KVM Bridge Network Setup"

- name: Update apt-cache
  apt:
    update_cache: yes
    cache_valid_time: 3600
  register: result
  until: result is succeeded

- name: Install some packages
  apt:
    name:
      - qemu-kvm
      - libvirt-daemon-system
      - libvirt-clients
      - virtinst
      - bridge-utils
    state: present
  register: result
  until: result is succeeded

- name: Test virsh
  ansible.builtin.shell: virsh list --all

- name: Disable netfilter on bridges
  template:
    src: bridge.conf
    dest: /etc/sysctl.d/bridge.conf
  register: disable_netfilter

- name: Add bridge rules
  template:
    src: 99-bridge.rules
    dest: /etc/udev/rules.d/99-bridge.rules
  register: bridge_rules

- name: Reboot for bridge rules to take effect
  reboot:
    reboot_timeout: 3600
#### NEED TO REBOOT HERE FOR BRIDGE RULES TO TAKE EFFECT

- name: Remove default KVM network
  ansible.builtin.shell: virsh net-destroy default && virsh net-undefine default
  ignore_errors: yes

- name: Setup Bridge
  template:
    src: 02-installer-config.yaml
    dest: /etc/netplan/02-installer-config.yaml
  register: setup_bridge

- name: Netplan Apply
  ansible.builtin.shell: netplan apply

- name: Copy host-bridge template
  template:
    src: host-bridge.xml
    dest: host-bridge.xml

- name: Define default bridge
  ansible.builtin.shell: virsh net-define host-bridge.xml
  ignore_errors: yes

- name: Start default bridge
  ansible.builtin.shell: virsh net-start host-bridge
  ignore_errors: yes

- name: Autostart default bridge
  ansible.builtin.shell: virsh net-autostart host-bridge
  ignore_errors: yes
